/* Page 1 */
QLabel{
    color: rgba(88, 63, 30, 0.907);
}

QLabel#tipLabel {
    color: rgba(109, 79, 39, 0.907);
}
QWidget#inputAccount,
QWidget#updatePassword,
QWidget#validateAccount {
  background-image: url(:/imgs/imgs/updatePage-background.png);
}

QLineEdit#accountLineEdit{
    border: none;
}

/* Page 2 */
QWidget#validateAccount QLineEdit{
    border: none;
}

/* Page 3 */
QWidget#updatePassword QLineEdit{
    border: none;
}